/*
    @mixin clipBothPhone {
      clip-path: polygon(0 2.5%, 50% 0, 100% 2.5%, 100% 100%, 50% 97.5%, 0 100%);
    }
||============================================================================||
||                               Media Query Manager                          ||
||============================================================================||
*/
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  17% {
    opacity: 1;
    animation-timing-function: ease-out; }
  33% {
    opacity: 1;
    transform: scale(1.05); }
  50% {
    opacity: 0;
    transform: scale(1.1); }
  100% {
    opacity: 0; } }

@keyframes fadeInRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  75% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeInLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  75% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fadeInBottom {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  75% {
    transform: translateY(0);
    opacity: 1; }
  80% {
    transform: translateY(-1rem); }
  87% {
    transform: translateY(0rem); }
  93% {
    transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 47.9375em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 28.125em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 125em) {
    html {
      font-size: 75%; } }

body {
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: #eeeeee; }
  @media only screen and (max-width: 47.9375em) {
    body {
      padding: 0; } }

/*
||============================================================================||
||                              F O N T S                                     ||
||============================================================================||

SERIF:       Nanum+Myeongjo:wght@400;700;800
SANS-SERIF: 'Comfortaa:wght@300;400;500;600;700
*/
body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #343434; }

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  margin-block-start: 0rem;
  margin-block-end: 0; }

.heading-1 {
  font-weight: 700;
  font-size: 6.5vw;
  text-align: center;
  letter-spacing: 5px;
  font-family: "Nanum Myeongjo", serif;
  color: white;
  line-height: 1;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 28.125em) {
    .heading-1 {
      font-size: 5rem; } }

.heading-2 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 3.7rem;
  letter-spacing: 0.1rem;
  font-weight: 700; }
  @media only screen and (max-width: 47.9375em) {
    .heading-2 {
      font-size: 3rem; } }
  @media only screen and (max-width: 28.125em) {
    .heading-2 {
      font-size: 2.5rem; } }

.heading-3 {
  line-height: 1;
  font-family: "Nanum Myeongjo", serif;
  font-size: 2rem;
  font-weight: 700; }
  @media only screen and (max-width: 47.9375em) {
    .heading-3 {
      font-size: 1.75rem; } }
  @media only screen and (max-width: 28.125em) {
    .heading-3 {
      font-size: 1.6rem; } }

.heading-4 {
  line-height: 1;
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.75rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 47.9375em) {
    .heading-4 {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 28.125em) {
    .heading-4 {
      font-size: 1.5rem; } }

.heading-5 {
  font-family: "Nanum Myeongjo", serif; }

.heading-6 {
  font-family: "Nanum Myeongjo", serif; }

.icon-row {
  text-align: center; }
  .icon-row .heart-icon {
    padding: 0 2rem; }
  .icon-row .fa-heart {
    color: #c7b3b8;
    position: relative; }
    .icon-row .fa-heart-o {
      position: absolute;
      top: 0;
      left: 0;
      color: #a7878f; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

/*
||============================================================================||
||                                M A R G I N S                               ||
||============================================================================||
*/
.mt-1 {
  margin-top: 1rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mt-6 {
  margin-top: 6rem !important; }

.mt-7 {
  margin-top: 7rem !important; }

.mt-8 {
  margin-top: 8rem !important; }

.mt-9 {
  margin-top: 9rem !important; }

.mt-10 {
  margin-top: 10rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-6 {
  margin-bottom: 6rem !important; }

.mb-7 {
  margin-bottom: 7rem !important; }

.mb-8 {
  margin-bottom: 8rem !important; }

.mb-9 {
  margin-bottom: 9rem !important; }

.mb-10 {
  margin-bottom: 10rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.ml-4 {
  margin-left: 4rem !important; }

.ml-5 {
  margin-left: 5rem !important; }

.ml-6 {
  margin-left: 6rem !important; }

.ml-7 {
  margin-left: 7rem !important; }

.ml-8 {
  margin-left: 8rem !important; }

.ml-9 {
  margin-left: 9rem !important; }

.ml-10 {
  margin-left: 10rem !important; }

.mr-1 {
  margin-right: 1rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.mr-4 {
  margin-right: 4rem !important; }

.mr-5 {
  margin-right: 5rem !important; }

.mr-6 {
  margin-right: 6rem !important; }

.mr-7 {
  margin-right: 7rem !important; }

.mr-8 {
  margin-right: 8rem !important; }

.mr-9 {
  margin-right: 9rem !important; }

.mr-10 {
  margin-right: 10rem !important; }

/*
||============================================================================||
||                                P A D D I N G                               ||
||============================================================================||
*/
.pt-1 {
  padding-top: 1rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pt-5 {
  padding-top: 5rem !important; }

.pt-6 {
  padding-top: 6rem !important; }

.pt-7 {
  padding-top: 7rem !important; }

.pt-8 {
  padding-top: 8rem !important; }

.pt-9 {
  padding-top: 9rem !important; }

.pt-10 {
  padding-top: 10rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.pb-5 {
  padding-bottom: 5rem !important; }

.pb-6 {
  padding-bottom: 6rem !important; }

.pb-7 {
  padding-bottom: 7rem !important; }

.pb-8 {
  padding-bottom: 8rem !important; }

.pb-9 {
  padding-bottom: 9rem !important; }

.pb-10 {
  padding-bottom: 10rem !important; }

.pr-1 {
  padding-right: 1rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pr-4 {
  padding-right: 4rem !important; }

.pr-5 {
  padding-right: 5rem !important; }

.pr-6 {
  padding-right: 6rem !important; }

.pr-7 {
  padding-right: 7rem !important; }

.pr-8 {
  padding-right: 8rem !important; }

.pr-9 {
  padding-right: 9rem !important; }

.pr-10 {
  padding-right: 10rem !important; }

.pl-1 {
  padding-left: 1rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.pl-4 {
  padding-left: 4rem !important; }

.pl-5 {
  padding-left: 5rem !important; }

.pl-6 {
  padding-left: 6rem !important; }

.pl-7 {
  padding-left: 7rem !important; }

.pl-8 {
  padding-left: 8rem !important; }

.pl-9 {
  padding-left: 9rem !important; }

.pl-10 {
  padding-left: 10rem !important; }

/*
||============================================================================||
||                                C O L O R S                                 ||
||============================================================================||
*/
.bg-red {
  background-color: red !important; }

.bg-blue {
  background-color: blue !important; }

.bg-green {
  background-color: green !important; }

.bg-yellow {
  background-color: yellow !important; }

.border-red {
  border: 1px solid red !important; }

.border-blue {
  border: 1px solid blue !important; }

.border-green {
  border: 1px solid green !important; }

.border-yellow {
  border: 1px solid yellow !important; }

.super {
  vertical-align: super;
  font-size: 0.8rem; }

.couple__about {
  padding: 5rem 0; }

.couple__img {
  border: #fff 0.6rem solid;
  box-shadow: 0 0 3px 3px #343434;
  border-radius: 50%;
  height: 25rem;
  width: 25rem;
  margin: 1rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 28.125em) {
    .couple__img {
      margin-bottom: 3rem; } }
  .couple__img--1 {
    background-image: url(../img/couple-1.png); }
  .couple__img--2 {
    background-image: url(../img/couple-2.png);
    order: 2; }
    @media only screen and (max-width: 28.125em) {
      .couple__img--2 {
        order: 0; } }

.couple__paragraph {
  background-color: #eee;
  text-align: left;
  text-indent: 4rem;
  font-size: 1.8rem;
  line-height: 2;
  letter-spacing: 0.007rem;
  font-weight: 500;
  flex-basis: 70%; }
  @media only screen and (max-width: 28.125em) {
    .couple__paragraph {
      flex-basis: 75%; } }

i.icon {
  display: block;
  text-align: center; }

/*
||============================================================================||
||                                     flex                                   ||
||============================================================================||
*/
.flex-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap; }

/*
||============================================================================||
||                                     Good Code                              ||
||============================================================================||
*/
.bg-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  overflow: hidden;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover; }
  .bg-media__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; }

.btn-text {
  padding: 0.3rem 2rem;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #343434; }
  .btn-text:link, .btn-text:visited {
    text-decoration: none;
    color: #eeeeee;
    display: inline-block;
    font-size: 2rem;
    transition: all 0.2s;
    font-weight: 700; }
  .btn-text:hover {
    background-color: #eeeeee;
    font-weight: 700;
    color: #343434;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: scale(1.15);
    border: 2px solid #343434; }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(0); }

.event {
  padding: 4rem;
  width: 85%;
  margin: 10rem auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  border-radius: 1.5rem;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.7);
  border: 2px solid #ebebeb; }
  @media only screen and (max-width: 47.9375em) {
    .event {
      margin: 6rem auto;
      width: 95%;
      background-attachment: scroll; } }
  .event--ceremony {
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.3) 50%), url(../img/church.jpg); }
    @media only screen and (max-width: 28.125em) {
      .event--ceremony {
        margin: 0 auto 4rem;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/church.jpg); } }
  .event--reception {
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.3) 50%), url(../img/golfclub.jpg); }
    @media only screen and (max-width: 28.125em) {
      .event--reception {
        margin-bottom: 0;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/golfclub.jpg); } }
  .event__info {
    width: 45%;
    text-align: center; }
    @media only screen and (max-width: 28.125em) {
      .event__info {
        width: 100%; } }
  .event__address ul {
    padding: 3rem 0;
    text-align: center;
    list-style-type: none;
    font-size: 1.7rem;
    margin: 0 auto; }
    .event__address ul li {
      font-weight: 500; }
      .event__address ul li:not(:last-child) {
        border-bottom: 1px dotted rgba(41, 41, 41, 0.3);
        padding-bottom: 1rem; }
      .event__address ul li:not(:first-child) {
        padding-top: 1rem; }
  .event__address div {
    width: 49%;
    display: inline-block; }

.footer {
  background-color: #292929;
  font-size: 1.25rem;
  padding: 0 3rem 3rem 3rem; }
  .footer__logo-box {
    text-align: center;
    padding: 5rem 0; }
  .footer__logo {
    height: auto;
    width: 10rem; }
  .footer__nav {
    display: inline-block; }
    @media only screen and (max-width: 47.9375em) {
      .footer__nav {
        width: 100%;
        text-align: center; } }
  .footer__nav, .footer__copyright {
    border-top: 0.1rem #cce5d9 solid;
    padding-top: 2rem; }
  .footer__list {
    list-style: none; }
  .footer__list-item {
    color: #cce5d9;
    display: inline-block; }
    .footer__list-item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:visited, .footer__link:link {
    color: inherit;
    text-decoration: underline;
    display: inline-block; }
    .footer__link:visited:active, .footer__link:visited:hover, .footer__link:link:active, .footer__link:link:hover {
      color: #a7878f;
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__copyright {
    color: #cce5d9; }

.header {
  position: relative; }
  .header--main {
    margin-top: 2rem; }
    @media only screen and (max-width: 28.125em) {
      .header--main {
        letter-spacing: 3px; } }
  .header__david {
    display: inline-block; }
  .header__jelena {
    display: inline-block; }
  .header--sub {
    display: inline-block;
    letter-spacing: 3px;
    padding-bottom: 2rem;
    line-height: 1.7;
    border-bottom: 2px solid white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
    font-size: 2.7vw; }
    @media only screen and (max-width: 28.125em) {
      .header--sub {
        letter-spacing: 2px;
        font-size: 3rem; } }
    .header--sub .super {
      font-size: 50%; }
  .header__prayer {
    font-weight: 500;
    text-indent: 3.5rem;
    text-shadow: 2px 1px black;
    color: white;
    margin-top: 4rem;
    padding: 1.5rem 5rem;
    background: rgba(0, 0, 0, 0.4);
    border-top: 2px solid rgba(255, 255, 255, 0.35);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 1.7rem;
    letter-spacing: 1px;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-word; }
    @media only screen and (max-width: 28.125em) {
      .header__prayer {
        padding: 1rem 3rem;
        letter-spacing: -1px;
        line-height: 1.4;
        font-weight: 300; } }
  .header__flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(110); }

.navigation__checkbox:checked ~ .navigation__nav-box {
  width: 100%;
  opacity: 1; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.navigation__btn {
  margin: 0;
  border: rgba(238, 238, 238, 0.5) 2px solid;
  position: fixed;
  background-color: #ffffff;
  width: 7rem;
  height: 7rem;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  box-shadow: 0 3px 0.7rem 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s; }
  @media only screen and (max-width: 47.9375em) {
    .navigation__btn {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 28.125em) {
    .navigation__btn {
      width: 6rem;
      height: 6rem;
      top: 1.5rem;
      right: 1.5rem; } }

.navigation__btn:hover,
.navigation__checkbox:checked ~ .navigation__btn {
  top: 1.5rem;
  box-shadow: 0 1.5rem 3rem 0.5rem rgba(0, 0, 0, 0.3);
  transform: scale(1.1); }

.navigation__icon {
  position: relative;
  margin-top: 50%; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #292929;
    display: inline-block; }
    @media only screen and (max-width: 28.125em) {
      .navigation__icon, .navigation__icon::after, .navigation__icon::before {
        width: 2.5rem;
        height: 1px; } }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.35s; }
  .navigation__icon::before {
    top: -0.8rem; }
    @media only screen and (max-width: 28.125em) {
      .navigation__icon::before {
        top: -0.65rem; } }
  .navigation__icon::after {
    top: 0.8rem; }
    @media only screen and (max-width: 28.125em) {
      .navigation__icon::after {
        top: 0.65rem; } }

.navigation__btn:hover .navigation__icon::before {
  top: -1rem; }

.navigation__btn:hover .navigation__icon::after {
  top: 1rem; }

.navigation__background {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 5;
  background-image: radial-gradient(#c7b3b8, #a7878f);
  transition: transform 1s cubic-bezier(0.83, 0, 0.17, 1); }
  @media only screen and (max-width: 47.9375em) {
    .navigation__background {
      top: 5.75rem;
      right: 5.75rem; } }
  @media only screen and (max-width: 28.125em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav-box {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 7;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  opacity: 0;
  width: 0%; }

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; }

.navigation__list-item {
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 47.9375em) {
    .navigation__list-item {
      margin-bottom: 0;
      line-height: 1.5; } }
  @media only screen and (max-width: 28.125em) {
    .navigation__list-item {
      margin-bottom: 2rem; } }

.navigation__link:visited, .navigation__link:link {
  font-family: "Nanum Myeongjo", serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  color: #ffffff;
  font-size: 3rem;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  border-radius: 5.5rem;
  background-size: 240%;
  transition: all 0.5s; }

.navigation__link:hover, .navigation__link:active {
  text-shadow: none;
  box-shadow: 0.5rem 1rem 2.5rem rgba(0, 0, 0, 0.4);
  background-position: 100%;
  transform: translateX(1rem);
  color: #a7878f; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.75);
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.3s; }
  .popup__map {
    height: 85vh;
    width: 85vw; }
    @media only screen and (max-width: 28.125em) {
      .popup__map {
        height: 75vh;
        width: 75vw; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    display: inline-block;
    transition: all 0.2s;
    font-size: 4rem;
    color: #555555;
    line-height: 0.7;
    background-color: rgba(0, 0, 0, 0); }
  .popup__close:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.2); }

.owl-carousel__testimonial {
  padding: 1rem 0 1rem 7.5rem;
  margin: 1.5rem 3rem;
  position: relative;
  transition: 0.2s; }
  .owl-carousel__testimonial:hover {
    transform: scale(1.05); }
    .owl-carousel__testimonial:hover .text-area {
      box-shadow: 3px 3px 1.5rem rgba(0, 0, 0, 0.7); }
  @media only screen and (max-width: 28.125em) {
    .owl-carousel__testimonial {
      padding-left: 0;
      margin: 2rem 3rem;
      padding-top: 7.5rem; } }
  .owl-carousel__testimonial .text-area {
    background-color: #eeeeee;
    padding: 2.5rem 2rem 3rem 10rem;
    height: 25rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.7);
    border: 2px solid #ebebeb; }
    @media only screen and (max-width: 28.125em) {
      .owl-carousel__testimonial .text-area {
        height: initial;
        padding: 8rem 2.5rem 2.5rem; } }
    .owl-carousel__testimonial .text-area .heading-3 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1.5rem; }
      .owl-carousel__testimonial .text-area .heading-3 span {
        padding-top: 0.5rem;
        font-size: 2rem;
        display: block; }
    .owl-carousel__testimonial .text-area .bio {
      text-indent: 3rem;
      font-size: 1.65rem;
      line-height: 1.3;
      letter-spacing: -1px; }
      @media only screen and (min-width: 2600px) {
        .owl-carousel__testimonial .text-area .bio {
          font-size: 1.8rem; } }

.owl-carousel__pic {
  position: absolute;
  margin-top: -7.5rem;
  top: 50%;
  left: 0;
  height: 15rem;
  width: 15rem;
  border: 0.6rem solid #eeeeee;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #343434, 2px 2px 1rem rgba(0, 0, 0, 0.7); }
  @media only screen and (max-width: 28.125em) {
    .owl-carousel__pic {
      left: 50%;
      margin-left: -7.5rem;
      top: 7.5rem; } }
  .owl-carousel__pic img {
    border-radius: 50%; }

.owl-carousel .owl-nav {
  color: #eeeeee;
  display: block;
  font-size: 7rem;
  height: 0;
  margin-top: 0;
  text-align: center;
  width: 0;
  line-height: 0; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    text-shadow: 2px 2px 0.5rem rgba(0, 0, 0, 0.7); }
    .owl-carousel .owl-nav .owl-prev span,
    .owl-carousel .owl-nav .owl-next span {
      transition: all 0.2s; }
    .owl-carousel .owl-nav .owl-prev span:hover,
    .owl-carousel .owl-nav .owl-next span:hover {
      color: #343434;
      text-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.7);
      transform: scale(1.2); }
    @media only screen and (max-width: 28.125em) {
      .owl-carousel .owl-nav .owl-prev,
      .owl-carousel .owl-nav .owl-next {
        transform: translateY(-80%); } }
  .owl-carousel .owl-nav .owl-prev {
    left: -2.5rem; }
    .owl-carousel .owl-nav .owl-prev:focus {
      outline: none; }
  .owl-carousel .owl-nav .owl-next {
    right: -2.5rem; }
    .owl-carousel .owl-nav .owl-next:focus {
      outline: none; }

.registry__heading {
  padding-bottom: 8rem;
  text-align: center;
  position: relative; }

.registry__link:link, .registry__link:visited {
  display: block;
  border: 2px solid black;
  margin: 0 auto;
  height: 10rem;
  width: 90%;
  border-radius: 5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s; }
  @media only screen and (max-width: 47.9375em) {
    .registry__link:link, .registry__link:visited {
      width: 75%; } }
  @media only screen and (max-width: 28.125em) {
    .registry__link:link, .registry__link:visited {
      width: 90%; } }
  .registry__link:link:hover, .registry__link:link:active, .registry__link:visited:hover, .registry__link:visited:active {
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    transform: scale(1.05); }

.registry__link-amazon {
  background-size: 50% 70%;
  background-image: url("../img/amazon.png"); }
  @media only screen and (max-width: 28.125em) {
    .registry__link-amazon {
      background-size: 70% 70%; } }

.registry__link-target {
  background-size: 55% 85%;
  background-image: url("../img/target.png"); }
  @media only screen and (max-width: 28.125em) {
    .registry__link-target {
      background-size: 75% 85%; } }

.slider__list {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }
  .slider__list li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; }
  .slider__list li:nth-child(1) span {
    background-image: url("../img/slider/hero-4.jpg"); }
    @media only screen and (max-width: 28.125em) {
      .slider__list li:nth-child(1) span {
        background-image: url("../img/slider/hero-13-phone.jpg"); } }
  .slider__list li:nth-child(2) span {
    background-image: url("../img/slider/hero-6.jpg");
    animation-delay: 6s; }
    @media only screen and (max-width: 28.125em) {
      .slider__list li:nth-child(2) span {
        background-image: url("../img/slider/hero-5-phone.jpg"); } }
  .slider__list li:nth-child(3) span {
    background-image: url("../img/slider/hero-8.jpg");
    animation-delay: 12s; }
    @media only screen and (max-width: 28.125em) {
      .slider__list li:nth-child(3) span {
        background-image: url("../img/slider/hero-11-phone.jpg"); } }
  .slider__list li:nth-child(4) span {
    background-image: url("../img/slider/hero-5.jpg");
    animation-delay: 18s; }
    @media only screen and (max-width: 28.125em) {
      .slider__list li:nth-child(4) span {
        background-image: url("../img/slider/hero-8-phone.jpg"); } }
  .slider__list li:nth-child(5) span {
    background-image: url("../img/slider/hero-9.jpg");
    animation-delay: 24s; }
    @media only screen and (max-width: 28.125em) {
      .slider__list li:nth-child(5) span {
        background-image: url("../img/slider/hero-1-phone.jpg"); } }

.row {
  max-width: 115rem;
  margin: 0 auto;
  min-height: 1px; }
  @media only screen and (max-width: 47.9375em) {
    .row {
      max-width: 100rem; } }
  @media only screen and (max-width: 28.125em) {
    .row {
      max-width: 53rem; } }
  @media only screen and (min-width: 125em) {
    .row {
      max-width: initial;
      width: 90%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 47.9375em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 47.9375em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2 * (6rem)) / 3); }
  .row .col-2-3 {
    width: calc( 2 * (100% - 2 * (6rem)) / 3 + 6rem); }
  .row .col-1-4 {
    width: calc((100% - 3 * (6rem)) / 4); }
  .row .col-2-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-4 {
    width: calc( 3 * (100% - 3 *6rem) / 4 + 2 * 6rem); }

.container {
  width: 90%;
  margin: 0 auto;
  min-height: 1px; }
  @media (max-width: 1024px) {
    .container {
      width: 70%; } }
  @media only screen and (min-width: 125em) {
    .container {
      max-width: initial;
      width: 80%; } }

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, #a7878fcc, #c7b3b8cc); }

.section-events {
  padding: 10rem 0 20rem 0;
  clip-path: polygon(0 3%, 50% 0, 100% 3%, 100% 100%, 50% 97%, 0 100%);
  background-color: #eeeeee; }
  @media only screen and (max-width: 28.125em) {
    .section-events {
      clip-path: polygon(0 2%, 50% 0, 100% 2%, 100% 100%, 50% 98%, 0 100%); } }

.section-wedding-party {
  position: relative;
  clip-path: polygon(0 3%, 50% 0, 100% 3%, 100% 100%, 50% 97%, 0 100%);
  padding: 10rem 0 15rem;
  background-image: linear-gradient(to bottom, rgba(229, 204, 217, 0.8), rgba(167, 135, 143, 0.5)); }
  .section-wedding-party .container:not(:last-child) {
    padding: 7rem 0; }
  @media only screen and (max-width: 28.125em) {
    .section-wedding-party {
      clip-path: polygon(0 2%, 50% 0, 100% 2%, 100% 100%, 50% 98%, 0 100%);
      padding: 10rem 0 12rem; }
      .section-wedding-party .container:not(:last-child) {
        padding: 3rem 0 2rem 0; } }

.section-couple {
  padding: 10rem 1rem 2rem 1rem; }

.section-registry {
  position: relative;
  margin-top: -15rem;
  padding: 20rem 15rem 15rem; }
  @media only screen and (max-width: 47.9375em) {
    .section-registry {
      padding: 20rem 5rem 10rem 5rem; } }

/*
  ||============================================================================||
  ||                    Nav bar link landing position spacing                   ||
  ||============================================================================||
  */
#couple {
  position: absolute;
  top: -5rem; }

#wedding-party {
  position: absolute;
  top: -2rem; }
  @media only screen and (max-width: 47.9375em) {
    #wedding-party {
      top: -5rem; } }

#ceremony {
  position: absolute;
  top: -6rem; }
  @media only screen and (max-width: 47.9375em) {
    #ceremony {
      top: -8rem; } }

#reception {
  position: absolute;
  top: -6rem; }
  @media only screen and (max-width: 47.9375em) {
    #reception {
      top: -8rem; } }

#registry {
  position: absolute;
  top: -10rem; }

[class^="section"] .heading-2 {
  position: relative; }
